.footer {
  background-color: #031828;
  padding: 50px 0;
  .top {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    padding-bottom: 28px;
    .list {
      text-transform: capitalize;
      li {
        &:nth-child(1) {
          font-size: 18px;
          font-weight: 700;
          text-transform: uppercase;
          line-height: 24px;
          margin-bottom: 24px;
        }
        font-size: 14px;
        font-weight: 500;
        color: white;
        line-height: 20px;
      }
    }
    .left {
      p {
        font-size: 14px;
        font-weight: 500;
        color: white;
        &:nth-child(1) {
          font-size: 18px;
          font-weight: 700;
          text-transform: uppercase;
          line-height: 24px;
          margin-bottom: 24px;
        }
      }
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    border-top: 1px solid #d2d1d1;
    width: 80%;
    margin: auto;
    padding-top: 11px;
    .list {
      display: flex;
      align-items: center;
      gap: 5px;
      color: #8b8b8b;
      text-transform: capitalize;
      li {
        border-left: 1px solid #8b8b8b;
        padding: 5px;
        font-size: 10px;
        font-weight: 500;
        line-height: 8px;
      }
    }
    p {
      text-align: center;
      margin: auto;
      color: #8b8b8b;
      font-size: 10px;
      font-weight: 500;
    }
  }
}
